@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  scroll-behavior: smooth;
  --header-font: "Syncopate", sans-serif;
  --background:  #f5b754;
  overflow-x: hidden;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */ 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
